# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*$py.class

# Mac custom attributes file
.DS_Store

instance/*_full.py
instance/*.db

# pytest files
.pytest_cache/

# Coverage output
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Visual Studio project settings
*.code-workspace
.vscode/*