{% extends "base.html" %}

{% block content %}
<div class="row justify-content-lg-center">
    <div class="col col-lg-6">
        <div class="card">
            <div class="card-header clearfix bg-info text-light">
                <h5 class="float-left">Settings</h5>
            </div>
            <div class="card-body">
                <form id="settingsForm">
                    <div class="form-row mb-2">
                        <h5>Duet Wifi Connection</h5>
                    </div>
                    <div class="form-row mb-2">
                        <label for="hostname" class="control-label">Hostname/IP</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">http://</span>
                            </div>
                            <input type="text" class="form-control pdwn-setting" name="hostname" id="hostname" placeholder="duettest.local" value="{{ settings.hostname }}" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <label for="password" class="custom-label">Password</label>
                        <input type="text" class="form-control pdwn-setting" name="password" id="password" value="{{ settings.password }}" />
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <label for="freq" class="custom-label">Polling Frequency</label>
                            <div class="input-group">
                                <input type="text" class="form-control pdwn-setting" name="interval" id="interval" value="{{ settings.interval }}" />
                                <div class="input-group-append">
                                    <span class="input-group-text">secs</span>
                                </div>
                            </div>
                            <small>How often data is retrieved from Duet</small>
                        </div>
                        <div class="col">
                            <label for="order" class="custom-label">RGB Order</label>
                            <select class="custom-select pdwn-setting" id="order" name="order">
                                <option {% if settings.order == 'RGB' %}selected{% endif %}>RGB</option>
                                <option {% if settings.order == 'GRB' %}selected{% endif %}>GRB</option>
                                <option {% if settings.order == 'RGBW' %}selected{% endif %}>RGBW</option>
                                <option {% if settings.order == 'GRBW' %}selected{% endif %}>GRBW</option>
                            </select>
                            <small>Order/number of led colors</small>
                        </div>
                        <div class="col">
                            <label for="order" class="custom-label">Pi GPIO Pin</label>
                            <select class="custom-select pdwn-setting" id="neo1pin" name="neo1pin">
                                <option value="">Pin...</option>
                                <option value=10 {% if settings.pixel_pin == 10 %}selected{% endif %}>10</option>
                                <option value=12 {% if settings.pixel_pin == 12 %}selected{% endif %}>12</option>
                                <option value=18 {% if settings.pixel_pin == 18 %}selected{% endif %}>18</option>
                                <option value=21 {% if settings.pixel_pin == 21 %}selected{% endif %}>21</option>
                            </select>
                            <small>Rings must be connected to GPIO10, GPIO12, GPIO18 or GPIO21</small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <span class="text-muted">Status: </span><em><span class="text-muted" id="status"></span></em>
            </div>
        </div>
    </div>
</div>
<script src="static/js/setup.js"></script>
{% endblock %}