{% extends "base.html" %}

{% block content %}
<div class="row justify-content-lg-center">
    <div class="col col-lg-6">
        <div class="card">
            <div class="card-header clearfix bg-info text-light">
                <h5 class="float-left">Settings</h5>
            </div>
            <div class="card-body">
                <form id="settingsForm">
                    <div class="form-row mb-2">
                        <h5>Duet Wifi Connection</h5>
                    </div>
                    <div class="form-row mb-2">
                        <label for="hostname" class="control-label">Hostname/IP</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">http://</span>
                            </div>
                            <input type="text" class="form-control pdwn-setting" name="hostname" id="hostname" placeholder="duettest.local" value="{{ settings.hostname }}" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-8">
                            <label for="password" class="custom-label">Password</label>&nbsp;<span data-feather="help-circle" class="text-warning" data-toggle="tooltip" title="Set on Duet Wifi interface. Empty by default."></span>
                            <input type="text" class="form-control pdwn-setting" name="password" id="password" value="{{ settings.password }}" />
                        </div>
                        <div class="col-4">
                            <label for="freq" class="custom-label">Freq.</label>&nbsp;<span data-feather="help-circle" class="text-warning" data-toggle="tooltip" title="How often the Pi polls the Duet for updates."></span>
                            <div class="input-group">
                                <input type="text" class="form-control pdwn-setting" name="interval" id="interval" value="{{ settings.interval }}" />
                                <div class="input-group-append">
                                    <span class="input-group-text">s</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <h5>LED Settings</h5>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <label for="order" class="custom-label">RGB Order</label>&nbsp;<span data-feather="help-circle" class="text-warning" data-toggle="tooltip" title="Order/number of colors in LED ring/strip."></span>
                            <select class="custom-select pdwn-setting" id="order" name="order">
                                <option {% if settings.order == 'RGB' %}selected{% endif %}>RGB</option>
                                <option {% if settings.order == 'GRB' %}selected{% endif %}>GRB</option>
                                <option {% if settings.order == 'RGBW' %}selected{% endif %}>RGBW</option>
                                <option {% if settings.order == 'GRBW' %}selected{% endif %}>GRBW</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="order" class="custom-label">Pi Pin</label>&nbsp;<span data-feather="help-circle" class="text-danger" data-toggle="tooltip" title="NOTE: Must be GPIO10 so app can run without sudo. Changing this currently does NOTHING."></span>
                            <select class="custom-select pdwn-setting" id="neo1pin" name="neo1pin" disabled>
                                <option value=10 {% if settings.pixel_pin == 10 %}selected{% endif %}>10</option>
                                <option value=12 {% if settings.pixel_pin == 12 %}selected{% endif %}>12</option>
                                <option value=18 {% if settings.pixel_pin == 18 %}selected{% endif %}>18</option>
                                <option value=21 {% if settings.pixel_pin == 21 %}selected{% endif %}>21</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="invert-dir" class="custom-label">Invert Dir</label>&nbsp;<span data-feather="help-circle" class="text-warning" data-toggle="tooltip" title="If your rings count up from 0 in CCW direction, set this to reverse."></span>
                            <input type="checkbox" name="invert-dir" id="invert-dir" data-toggle="toggle" {% if settings.invert_dir == 1 %}checked{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="brightness" class="custom-label">Pixel Brigntness</label>
                            <input type="range" class="custom-range pdwn-setting" name="brightness" min="0" max="1" step="0.01" value="{{ settings.brightness }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <span class="text-muted">Status: </span><em><span class="text-muted" id="status"></span></em>
            </div>
        </div>
    </div>
</div>
<script src="static/js/setup.js"></script>
{% endblock %}